{% extends "base.html" %}

{% block content %}
<h2>Reset Password</h2>
{% if user %}
<p>Hi {{ user.first_name }}, please enter your new password:</p>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div>
        {{ form.password.label }}
        {{ form.password(size=32) }}
        {% if form.password.errors %}
        <ul class="errors">
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        {{ form.confirm_password.label }}
        {{ form.confirm_password(size=32) }}
        {% if form.confirm_password.errors %}
        <ul class="errors">
            {% for error in form.confirm_password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        <input type="submit" value="Reset Password">
    </div>
</form>
{% else %}
<p>Invalid or expired token. Please try the reset request again.</p>
{% endif %}
{% endblock %}
